<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quiz19sept.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3940B3BB1F70C5E400F5FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3940B3CF1F70C5E400F5FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3940B3DA1F70C5E400F5FBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
